﻿@model DomainProduct.Entities.ProductPersonalizationsOption

@if (Model != null)
{
     <div class="grouped fields option-group">
                                        
        @foreach (var item in Model.Data)
        {
            <div class="field">
                <div class="ui checkbox @(!String.IsNullOrEmpty(item.Image) ? "checkbox-image" : "")">
                    <input type="checkbox" name="option-@item.IdOption" value="" id="@item.IdOption" data-title="@item.Title" data-valid="@Model.IdOption" @(Model.Required ? "required" : "") />
                    <label>
                        @if (!String.IsNullOrEmpty(item.Image))
                        {
                            <img src="@item.Image" />
                        }
                        @item.Title
                    </label>
                    
                </div>
                @if (item.Value > 0)
                {
                    <span class="ui label black small basic">+@string.Format("R$ {0:0.00}", item.Value)</span> 
                }
            </div>                              
        }
    </div>
}