﻿@model DomainProduct.Entities.ProductPersonalizationsOption

@if (Model != null)
{

    <div class="grouped fields option-group">

        @foreach (var item in Model.Data)
        {
            <div class="field">
                <div class="ui radio checkbox @(!String.IsNullOrEmpty(item.Image) ? "checkbox-image" : "")">
                    <input type="radio" name="option-@Model.IdOption" id="@item.IdOption" data-title="@item.Title" data-valid="@Model.IdOption" value="" @(Model.Required ? "required" : "")>
                    <label>
                        @if (!String.IsNullOrEmpty(item.Image))
                        {
                            <img src="@item.Image" />
                        }
                        @item.Title
                    </label>
                    @if (item.Value > 0)
                    {
                        <span class="ui label black small basic">+@string.Format("R$ {0:0.00}", item.Value)</span> 
                    }
                </div>

                @if (item.Children != null && item.Children.Any())
                {
                    
                    <div class="grouped fields margin top small option-conditional" data-id="radio-@item.IdOption" data-option="@Model.IdOption">

                    @foreach (var child in item.Children)
                    {
                        switch (child.Type)
                        {
                            case 1:
                                @Html.Partial("~/Views/Product/Details/_Personalization/title.cshtml", child);
                                break;
                            case 2:
                                @Html.Partial("~/Views/Product/Details/_Personalization/radio.cshtml", child)
                                break;
                            case 3:
                                @Html.Partial("~/Views/Product/Details/_Personalization/checkbox.cshtml", child)
                                break;
                            case 4:
                                @Html.Partial("~/Views/Product/Details/_Personalization/dropdown.cshtml", child)
                                break;
                            case 5:
                                @Html.Partial("~/Views/Product/Details/_Personalization/string.cshtml", child)
                                break;
                            case 6:
                                @Html.Partial("~/Views/Product/Details/_Personalization/textarea.cshtml", child)
                                break;
                        }
                    }
                    
                    </div>
                } 
                
            </div>
        }
    </div>
}