@model DomainCustomer.Entities.Contact


@{
    ViewBag.Title = "HotSite - Fernando";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}


@section breadcrumbs {
<div class="ui container">
    <div class="ui grid stackable middle aligned centered">
        <div class="row one column">
            <div class="column">
                <h1 class="text uppercase">@ViewBag.Title</h1>
                <div class="ui breadcrumb text small uppercase">
                    <a class="section" href="/">Home</a>
                    <div class="divider"> / </div>
                    <span class="active section">Contato</span>
                </div>
            </div>
        </div>
    </div>
</div>
}


<div class="ui grid aligned center aligned">
    <div class="row two column">

        @using (Ajax.BeginForm("FrontEnd", "#", new AjaxOptions { HttpMethod = "POST" }, new
        {
            @class = "ui large form",
            @id = "formFrontEnd"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="column">
                <div class="ui segment">
                    <div class="ui grid  very relaxed stackable  aligned grid left aligned">
                        <div class="row one column">
                            <div class="column">

                                <div class="field required">
                                    <label>Nome</label>
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" maxlength="100" name="Nome" placeholder="Nome" value=""
                                        data-validate="name">
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>E-mail</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input id="email" type="text" maxlength="100" name="Email" placeholder="E-mail"
                                        value="" data-validate="email">
                                    </div>
                                </div>


                                <div class="field required">
                                    <label>Telefone</label>
                                    <div class="ui left icon input">
                                        <i class="phone icon"></i>
                                        <input type="text" name="Telefone" placeholder="(00) 00000-0000"
                                        class="masked mask_phone" data-validate="phone">
                                    </div>
                                </div>

                                <div class="field required">
                                    <label>Assunto</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" maxlength="100" name="Assunto" placeholder="Assunto" value=""
                                        data-validate="assunto">
                                    </div>
                                </div>

                                <div class="field required">
                                    <label>Mensagem</label>
                                    <textarea maxlength="6000" name="Mensagem"></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <button id="submitHotSite" type="submit"
                                class="ui animated button large submit primary right floated continuar" tabindex="0">
                                    <div class="visible content">Enviar</div>
                                    <div class="hidden content">
                                        <i class="send icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="column">
            <div class="ui segment">
                <div class="ui grid  very relaxed stackable middle aligned grid left aligned">
                    <div class="column">
                        <div class="row">
                            <label>Nome: </label><span id="valorNome"></span>
                        </div>
                        <div class="row">
                            <label>E-mail: </label><span id="valorEmail"></span></p>
                        </div>
                        <div class="row">
                            <label>Telefone: </label><span id="valorTelefone"></span></p>
                        </div>
                        <div class="row">
                            <label>Assunto: </label><span id="valorAssunto"></span></p>
                        </div>
                        <div class="row">
                            <label>Mensagem: </label><span id="valorMensagem"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment">
                <div class="ui grid  very relaxed stackable middle aligned grid left aligned">
                    <div class="column">
                        <h1>Session:</h1>
                        <div class="row">
                            <label>Nome: </label><span id="valorNome_sessao"></span>
                        </div>
                        <div class="row">
                            <label>E-mail: </label><span id="valorEmail_sessao"></span></p>
                        </div>
                        <div class="row">
                            <label>Telefone: </label><span id="valorTelefone_sessao"></span></p>
                        </div>
                        <div class="row">
                            <label>Assunto: </label><span id="valorAssunto_sessao"></span></p>
                        </div>
                        <div class="row">
                            <label>Mensagem: </label><span id="valorMensagem_sessao"></span></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="column">
        </div>


    </div>
</div>

@section custom_js {
<script>
    function onSuccess(response) {

        if (response.success == true) {
            swal({
                text: response.Message,
                type: 'success',
                showCancelButton: false,
                confirmButtonColor: '#16ab39',
                cancelButtonColor: '#d33',
                confirmButtonText: 'OK'
            }).then(function () {
                window.location.href = "/Home";
            });
        }
        else {

            swal({
                text: response.Message,
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#16ab39',
                cancelButtonColor: '#d33',
                confirmButtonText: 'OK'
            });
        }
    }

    function onFailure(response) {
        if (response.success == false) {

            swal({
                text: response.Message,
                type: 'error',
                showCancelButton: false,
                confirmButtonColor: '#16ab39',
                cancelButtonColor: '#d33',
                confirmButtonText: 'OK'
            }).then(function () {
                window.location.href = "/Home";
            });
        }
    }
</script>
}